<div class="flex flex-col gap-6 sm:gap-8 items-center">
  <span class="text-lg sm:text-2xl font-semibold">異常事件通知</span>

  <div class="grid grid-cols-2 gap-12">
    <button
      class="px-6 py-1 text-md sm:text-xl font-semibold rounded border cursor-pointer relative"
      [ngClass]="
        notReg.length > 0
          ? 'bg-[#FF8040] text-white border-white'
          : 'bg-[#231716] text-[#4d4c4e] border-[#999] pointer-events-none'
      "
      (click)="openDialog(true)"
    >
      <span>未註冊車牌</span>
      @if (notReg.length > 0) {
        <div
          class="absolute -top-5 -right-6 px-2 py-0.5 bg-red-500 text-white rounded-full min-w-10"
        >
          {{ notReg.length }}
        </div>
      }
    </button>

    <button
      class="px-6 py-1 text-md sm:text-xl font-semibold rounded border cursor-pointer relative"
      [ngClass]="
        blackList.length > 0
          ? 'bg-[#FF8040] text-white border-white'
          : 'bg-[#231716] text-[#4d4c4e] border-[#999] pointer-events-none'
      "
      (click)="openDialog(false)"
    >
      <span>停權名單</span>
      @if (blackList.length > 0) {
        <div
          class="absolute -top-5 -right-6 px-2 py-0.5 bg-red-500 text-white rounded-full min-w-10"
        >
          {{ blackList.length }}
        </div>
      }
    </button>
  </div>
</div>
