<div class="flex flex-col gap-4 w-full h-full">
  <div class="card flex flex-col flex-shrink-0 gap-2 p-4 w-full h-fit">
    <div class="flex gap-4 h-fit">
      @for(button of chartData; track button.label; let i = $index) {
      <button
        class="text-xl text-white rounded-md w-36 px-2 py-0.5 cursor-pointer"
        [ngClass]="{
          'bg-[#b2b2b2]': activeIndex !== i,
          'bg-gradient-to-r from-[#767df5] to-[#82a2fc]': activeIndex === i
        }"
        type="button"
        (click)="activeIndex = i"
      >
        {{ button.label }}
      </button>
      }
    </div>

    <div class="flex gap-2">
      <app-css-bar-chart
        class="flex-1 px-12"
        [labels]="['實際人數', '預報人數']"
        [chartData]="chartData[activeIndex].passengerData"
        [colorClass]="'bg-[#02b3e5]'"
      ></app-css-bar-chart>
      <app-css-bar-chart
        class="flex-1 px-12"
        [labels]="['實際架次', '預報架次']"
        [chartData]="chartData[activeIndex].flightData"
        [colorClass]="'bg-gradient-to-r from-[#fd9c44] to-[#ffb029]'"
      ></app-css-bar-chart>
    </div>
  </div>

  <div class="flex flex-1 items-center gap-4 w-full h-0">
    <app-forecast-card class="flex-2 w-full h-full"></app-forecast-card>

    <div class="card flex flex-3 items-center gap-2 p-4 w-full h-full">
      <div class="flex flex-1 flex-col items-center gap-2 h-full">
        <h2 class="text-xl font-bold text-[#ee8150]">當日總航班數</h2>
        <div class="flex-1 h-0" id="pie-chart-1"></div>
      </div>

      <div class="flex flex-1 flex-col items-center gap-2 h-full">
        <h2 class="text-xl font-bold text-[#ee8150]">當日總遊客數</h2>
        <div class="flex-1 h-0" id="pie-chart-2"></div>
      </div>
    </div>
  </div>
</div>
