<div class="grid grid-cols-[100px_1fr] items-center justify-center gap-4 p-4 border border-white rounded-xl">
  <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
    >車號</label
  >
  <span>123-45</span>

  <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
    >編號</label
  >
  <span>123-45</span>

  <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
    >人名</label
  >
  <span>123-45</span>

  <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
    >聯絡電話</label
  >
  <span>123-45</span>
</div>
