<div class="flex items-center justify-center w-full h-full min-h-[300px]">
  <ng-container
    [ngTemplateOutlet]="
      !hasSearch
        ? init
        : taxiInfoList.length == 0
        ? noCar
        : taxiInfoList.length == 1
        ? data
        : duplicate
    "
  ></ng-container>
</div>

<ng-template #init>
  <!-- 初始 -->
  <div class="flex flex-col gap-1 items-center">
    <img class="w-16 sm:w-20" src="icons/edit.png" alt="edit" />
    <span class="text-xl sm:text-2xl text-[#aaa]"
      >請輸入車號後點擊查詢按鈕</span
    >
    <span class="text-md sm:text-xl text-[#aaa]"
      >查詢後將顯示修改前後對照資料</span
    >
  </div>
</ng-template>

<ng-template #noCar>
  <!-- 查無車牌 -->
  <div class="flex flex-col gap-4 items-center">
    <img class="w-16 sm:w-15" src="icons/error.png" alt="error" />
    <span class="text-xl sm:text-3xl text-[#fc4886]">查無車牌</span>
    <div class="flex flex-col gap-1 items-center">
      <span class="text-xl sm:text-2xl text-[#aaa]"
        >找不到車牌號碼:{{ searchRegPlate }}</span
      >
      <span class="text-md sm:text-xl text-[#aaa]">請確認車牌號碼是否正確</span>
    </div>
  </div>
</ng-template>

<ng-template #data>
  <!-- 資料呈現 -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 w-full h-full">
    <div class="flex flex-col gap-y-4">
      <div class="flex border-b-3 border-[#a9a9a9]">
        <span
          class="mx-auto px-6 py-1 text-lg sm:text-2xl font-semibold bg-[#a9a9a9] rounded-t-md"
          >修改前</span
        >
      </div>
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[100px_1fr] items-center gap-x-2 sm:gap-x-4 gap-y-4 sm:gap-y-6 text-md sm:text-2xl w-full px-4"
      >
        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >車號</label
        >
        <div class="flex items-center gap-2">
          <input
            type="text"
            class="w-full bg-[#193652] rounded px-2 py-1"
            [value]="taxiInfoList[0].regPlate"
            disabled
          />
        </div>

        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >編號</label
        >
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="taxiInfoList[0].driverNo"
          disabled
        />

        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >狀態</label
        >
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="getViolationLabel(taxiInfoList[0].status)"
          disabled
        />

        <!-- 停權名單顯示 -->
        @if(taxiInfoList[0].status?.includes('BLACKLIST') ||
        taxiInfoList[0].status?.includes('GREYLIST')) {
        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >期間</label
        >
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="taxiInfoList[0]['startDate']"
          disabled
        />
        <label
          class="text-[#97e0fb] font-semibold [text-align-last:justify]"
        ></label>
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="taxiInfoList[0]['endDate']"
          disabled
        />
        }
      </div>
    </div>

    <div class="flex flex-col gap-y-4">
      <div class="flex border-b-3 border-[#f5a830]">
        <span
          class="mx-auto px-6 py-1 text-lg sm:text-2xl font-semibold bg-[#f5a830] rounded-t-md"
          >修改後</span
        >
      </div>
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[100px_1fr] items-center gap-x-2 sm:gap-x-4 gap-y-4 sm:gap-y-6 text-md sm:text-2xl w-full px-4"
      >
        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >車號</label
        >
        <div class="flex items-center gap-2">
          <input
            type="text"
            class="w-full bg-[#193652] rounded px-2 py-1"
            [value]="afterTaxiInfo?.regPlate"
            disabled
          />
        </div>

        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >編號</label
        >
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="afterTaxiInfo?.driverNo"
          disabled
        />

        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >狀態</label
        >
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="getViolationLabel(afterTaxiInfo?.status || null)"
          disabled
        />

        @if(afterTaxiInfo?.status?.includes('BLACKLIST') ||
        afterTaxiInfo?.status?.includes('GREYLIST')) {
        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
          >期間</label
        >
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="afterTaxiInfo?.['startDate']"
          disabled
        />
        <label
          class="text-[#97e0fb] font-semibold [text-align-last:justify]"
        ></label>
        <input
          type="text"
          class="w-full bg-[#193652] rounded px-2 py-1"
          [value]="afterTaxiInfo?.['endDate']"
          disabled
        />
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template #duplicate>
  <app-taxi-duplicate [taxiInfoList]="taxiInfoList"></app-taxi-duplicate>
</ng-template>
