<div class="flex flex-col gap-4 w-full h-full">
  <div class="flex gap-8 h-fit">
    @for(button of data; track button.label; let i = $index) {
    <button
      class="text-xl text-white rounded-md w-36 px-2 py-0.5 cursor-pointer"
      [ngClass]="{
        'bg-[#b2b2b2]': activeIndex !== i,
        'bg-gradient-to-r from-[#767df5] to-[#82a2fc]': activeIndex === i
      }"
      type="button"
      (click)="onScopeChange(i)"
    >
      {{ button.label }}
    </button>
    }
  </div>

  <div class="flex items-center justify-between text-[#aaa]">
    <!-- 指定期間 -->
    <div class="flex items-center gap-2">
      <label>指定期間</label>

      <!-- 起始年份 -->
      <app-dropdown
        class="w-30"
        [options]="yearOptions"
        [value]="formData.startYear"
        (selectionChange)="
          onSelectionChange('startYear', $event.value);
          onMonthOrYearChange('start', $event.value, formData.startMonth)
        "
      ></app-dropdown>
      <span>年</span>

      <!-- 起始月份 -->
      <app-dropdown
        class="w-20"
        [options]="monthOptions"
        [value]="formData.startMonth"
        [disabeld]="formData.startYear == null"
        (selectionChange)="
          onSelectionChange('startMonth', $event.value);
          onMonthOrYearChange('start', formData.startYear, $event.value)
        "
      ></app-dropdown>
      <span>月</span>

      <!-- 起始日期 -->
      <app-dropdown
        class="w-20"
        [options]="startDayOptions"
        [value]="formData.startDay"
        [disabeld]="formData.startMonth == null"
        (selectionChange)="onSelectionChange('startDay', $event.value)"
      ></app-dropdown>
      <span>日</span>

      <span>~</span>

      <!-- 結束年份 -->
      <app-dropdown
        class="w-30"
        [options]="yearOptions"
        [value]="formData.endYear"
        [disabeld]="formData.startYear == null"
        (selectionChange)="
          onSelectionChange('endYear', $event.value);
          onMonthOrYearChange('end', $event.value, formData.endMonth)
        "
      ></app-dropdown>
      <span>年</span>

      <!-- 結束月份 -->
      <app-dropdown
        class="w-20"
        [options]="monthOptions"
        [value]="formData.endMonth"
        [disabeld]="formData.endYear == null"
        (selectionChange)="
          onSelectionChange('endMonth', $event.value);
          onMonthOrYearChange('end', formData.endYear, $event.value)
        "
      ></app-dropdown>
      <span>月</span>

      <!-- 結束日期 -->
      <app-dropdown
        class="w-20"
        [options]="endDayOptions"
        [value]="formData.endDay"
        [disabeld]="formData.endMonth == null"
        (selectionChange)="onSelectionChange('endDay', $event.value)"
      ></app-dropdown>
      <span>日</span>
    </div>

    <!-- 航點、航班類別、航空公司、飛航類型 -->
    <div class="flex items-center gap-2">
      <label>航空公司</label>
      <app-dropdown
        class="w-30"
        [options]="airlineOptions"
        (selectionChange)="onSelectionChange('airline', $event)"
      >
      </app-dropdown>

      <label>航班類別</label>
      <app-dropdown
        class="w-30"
        [options]="flightClassOptions"
        (selectionChange)="onSelectionChange('flightClass', $event)"
      >
      </app-dropdown>

      <label>航點</label>
      <app-dropdown
        class="w-30"
        [options]="routeOptions"
        (selectionChange)="onSelectionChange('route', $event)"
      >
      </app-dropdown>

      <label>飛航類型</label>
      <app-dropdown
        class="w-20"
        [options]="flightTypeOptions"
        (selectionChange)="onSelectionChange('flightType', $event)"
      >
      </app-dropdown>

      <button
        class="px-3 min-h-8 text-white bg-[#318dce] rounded-sm cursor-pointer"
        (click)="onConfirm()"
      >
        確認
      </button>
    </div>
  </div>

  <div class="card flex flex-col flex-1 gap-2 items-center p-4 min-h-0">
    @if(barData.length > 0 && !isNoData) {
    <div class="flex flex-1 items-center gap-2 min-h-0 w-full">
      <div class="flex flex-2 flex-col gap-2 h-full">
        <div class="flex items-center justify-center gap-4">
          @for(bar of barData; let i = $index; track bar;) {
          <div class="flex items-center gap-1">
            <div
              class="w-4 h-4 rounded-full"
              [ngStyle]="{ 'background-color': bar.colors?.[0] }"
            ></div>
            <div>{{ bar.label }}</div>
          </div>
          <div class="flex items-center gap-1">
            <div
              class="w-4 h-2"
              [ngStyle]="{ 'background-color': lineData[i].colors?.[0] }"
            ></div>
            <div>{{ lineData[i].label }}</div>
          </div>
          }
        </div>

        <div class="flex flex-1 items-center gap-2 w-full min-h-0 relative">
          <div class="text-xl [writing-mode:vertical-rl]">架次</div>
          <app-bar-line-chart
            class="flex-1 h-full"
            [barData]="barData"
            [lineData]="lineData"
            [showLegend]="false"
          ></app-bar-line-chart>
          <div class="text-xl [writing-mode:vertical-rl]">人數</div>
        </div>
      </div>

      <div class="flex flex-3 flex-col gap-2 h-full">
        <div class="flex items-center justify-center gap-4">
          @for(bar of barData; let i = $index; track bar;) {
          <div class="flex items-center gap-1">
            <div
              class="w-4 h-4 rounded-full"
              [ngStyle]="{ 'background-color': bar.colors?.[0] }"
            ></div>
            <div>{{ bar.label }}</div>
          </div>
          <div class="flex items-center gap-1">
            <div
              class="w-4 h-2"
              [ngStyle]="{ 'background-color': lineData[i].colors?.[0] }"
            ></div>
            <div>{{ lineData[i].label }}</div>
          </div>
          }
        </div>

        <div class="flex flex-1 items-center gap-2 w-full min-h-0 relative">
          <div class="text-xl [writing-mode:vertical-rl]">架次</div>
          <app-bar-line-chart
            class="flex-1 h-full"
            [barData]="barData"
            [lineData]="lineData"
            [showLegend]="false"
          ></app-bar-line-chart>
          <div class="text-xl [writing-mode:vertical-rl]">人數</div>
        </div>
      </div>
    </div>
    } @else if (!isNoData) {
    <div class="flex flex-1 items-center justify-center text-[30px]">
      請輸入查詢條件
    </div>
    } @else {
    <div class="flex flex-1 items-center justify-center text-[30px]">
      查無資料
    </div>
    }

    <div class="flex items-center justify-center w-full h-55 mt-4">
      <div
        class="flex-2 mx-8 w-full h-full max-w-200 border-4 border-[#3372bd] rounded-lg relative"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-4xl text-[#ea6934] bg-[#252525] whitespace-nowrap"
        >
          2019年
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[70px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ compareTotalFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-3xl text-[#a5a5a5]">總人數</div>
            <div class="text-[70px] text-[#02b3e7] font-bold leading-none">
              {{ compareTotalPax | number }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex-3 mx-8 w-full h-full border-4 border-[#3372bd] rounded-lg relative"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-4xl text-[#06e5ff] bg-[#252525] whitespace-nowrap"
        >
          2019年
        </div>

        <div class="flex items-center gap-2 h-full relative">
          <div class="absolute left-1/2 top-6 -translate-x-1/2 flex items-center gap-4">
            @for(legend of pieData1; track $index) {
            <div class="flex items-center gap-1">
              <div class="w-2 h-4 rounded-sm" [ngStyle]="{'background-color': legend.colors?.[0]}"></div>
              <div>{{legend.label}}</div>
            </div>
            }
          </div>

          <div
            class="flex flex-col items-center gap-2 w-full sm:flex-1 h-auto sm:h-full sm:mr-20"
          >
            <app-pie-chart
              class="flex-1 min-h-[180px] min-h-0 w-full"
              [data]="pieData1"
              [centerLabel]="'異常架次'"
              [fontSize]="'20px'"
              [showLegend]="false"
            ></app-pie-chart>
          </div>

          <div
            class="flex flex-col items-center gap-2 w-full sm:flex-1 h-auto sm:h-full sm:ml-20"
          >
            <app-pie-chart
              class="flex-1 min-h-[180px] min-h-0 w-full"
              [data]="pieData2"
              [centerLabel]="'異常人數'"
              [fontSize]="'20px'"
              [showLegend]="false"
            ></app-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
