<!-- 計程車資訊 -->
<div class="flex flex-col gap-4 w-full">
  <h2 class="text-xl sm:text-3xl text-[#f5a830] font-semibold">
    計程車資訊查詢
  </h2>

  <ng-container
    [ngTemplateOutlet]="
      !hasSearch
        ? infoInit
        : taxiInfoList.length == 0
          ? infoNoData
          : taxiInfoList.length == 1
            ? infoData
            : infoDuplicate
    "
  ></ng-container>

  <ng-template #infoInit>
    <div
      class="flex items-center justify-center bg-[#303030] rounded-md w-full h-full min-h-[300px]"
    >
      <div class="flex flex-col gap-8 items-center">
        <img class="w-16 sm:w-20" src="icons/search.png" alt="search" />
        <span class="text-xl sm:text-3xl text-[#aaa]"
          >請輸入查詢條件後點擊查詢按鈕</span
        >
      </div>
    </div>
  </ng-template>

  <ng-template #infoData>
    <div
      class="flex flex-col sm:flex-row w-full min-h-[200px] sm:min-h-[300px] gap-8 px-6 sm:px-12"
    >
      <!-- 左：車輛 / 司機資訊 -->
      <div
        class="grid grid-cols-[auto_1fr] gap-4 sm:gap-8 text-md sm:text-2xl py-4 flex-2"
      >
        <label class="text-[#05aeed] [text-align-last:justify]">車號</label>
        <span>{{ taxiInfoList[0].regPlate }}</span>

        <label class="text-[#05aeed] [text-align-last:justify]">編號</label>
        <span>{{ taxiInfoList[0].driverNo }}</span>

        <label class="text-[#05aeed] [text-align-last:justify]">姓名</label>
        <span>{{ taxiInfoList[0].driverName }}</span>

        <label class="text-[#05aeed] [text-align-last:justify]">手機</label>
        <span>{{ taxiInfoList[0].driverPhone }}</span>
      </div>

      <div class="flex sm:flex-col items-center justify-around h-20">
        <button
          class="px-3 py-0.5 bg-[#01a7e7] rounded cursor-pointer hover:bg-[#029cd8]"
          (click)="onEdit()"
        >
          編輯
        </button>
        <button
          class="px-3 py-0.5 bg-red-400 rounded cursor-pointer hover:bg-[#ff4f54]"
          (click)="onDelete()"
        >
          刪除
        </button>
      </div>

      <!-- 右：單一車號進出場時間 -->
      <div class="flex-3 border-l pl-6 py-4 flex flex-col">
        <h3
          class="text-lg sm:text-2xl font-semibold mb-4 text-[#05aeed] shrink-0"
        >
          進出場紀錄
        </h3>

        <!-- 表頭 -->
        <div
          class="grid grid-cols-2 text-sm sm:text-lg font-semibold text-gray-600 mb-2 shrink-0"
        >
          <div>進場時間</div>
          <div>離場時間</div>
        </div>

        <!-- 可滾動內容 -->
        <div class="flex-1 overflow-y-auto">
          @if (exceptionDetail) {
            <div class="grid grid-cols-2 py-1">
              <div>{{ exceptionDetail.inTime | date: "yyyy/M/d HH:mm" }}</div>
              <div>{{ exceptionDetail.outTime | date: "yyyy/M/d HH:mm" }}</div>
            </div>
          } @else {
            <div class="text-gray-400">尚無進出場紀錄</div>
          }
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #infoDuplicate>
    <app-taxi-duplicate [taxiInfoList]="taxiInfoList"></app-taxi-duplicate>
  </ng-template>

  <ng-template #infoNoData>
    <div
      class="flex items-center justify-center bg-[#303030] rounded-md w-full h-full min-h-[300px]"
    >
      <div class="flex flex-col gap-8 items-center w-full px-12">
        <img class="w-16 sm:w-20" src="icons/not-allow.png" alt="not-allow" />
        <span class="text-xl sm:text-3xl text-[#aaa]">查無資料</span>
        <div class="w-full h-0.5 bg-[#f5a830]"></div>

        <h2 class="self-start text-xl sm:text-3xl text-[#fc4886] font-semibold">
          異常事件:未註冊車牌
        </h2>
      </div>
    </div>
  </ng-template>
</div>
