<!-- 計程車資訊 -->
<div class="flex flex-col gap-4 w-full">
  <h2 class="text-xl sm:text-3xl text-[#f5a830] font-semibold">
    計程車資訊查詢
  </h2>

  <ng-container
    [ngTemplateOutlet]="
      !hasSearch
        ? infoInit
        : taxiInfoList.length == 0
        ? infoNoData
        : taxiInfoList.length == 1
        ? infoData
        : infoDuplicate
    "
  ></ng-container>

  <ng-template #infoInit>
    <div
      class="flex items-center justify-center bg-[#303030] rounded-md w-full h-full min-h-[300px]"
    >
      <div class="flex flex-col gap-8 items-center">
        <img class="w-16 sm:w-20" src="icons/search.png" alt="search" />
        <span class="text-xl sm:text-3xl text-[#aaa]"
          >請輸入查詢條件後點擊查詢按鈕</span
        >
      </div>
    </div>
  </ng-template>

  <ng-template #infoData>
    <div class="flex items-center w-full h-full min-h-[200px] sm:min-h-[300px]">
      <div
        class="grid grid-cols-[auto_1fr] gap-4 sm:gap-8 px-6 sm:px-12 text-md sm:text-2xl"
      >
        <label class="text-[#05aeed] [text-align-last:justify]">車號</label>
        <span>{{ taxiInfoList[0].regPlate }}</span>

        <label class="text-[#05aeed] [text-align-last:justify]">編號</label>
        <span>{{ taxiInfoList[0].driverNo }}</span>

        <label class="text-[#05aeed] [text-align-last:justify]">姓名</label>
        <span>{{ taxiInfoList[0].driverName }}</span>

        <label class="text-[#05aeed] [text-align-last:justify]">手機</label>
        <span>{{ taxiInfoList[0].driverPhone }}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #infoDuplicate>
    <app-taxi-duplicate [taxiInfoList]="taxiInfoList"></app-taxi-duplicate>
  </ng-template>

  <ng-template #infoNoData>
    <div
      class="flex items-center justify-center bg-[#303030] rounded-md w-full h-full min-h-[300px]"
    >
      <div class="flex flex-col gap-8 items-center w-full px-12">
        <img class="w-16 sm:w-20" src="icons/not-allow.png" alt="not-allow" />
        <span class="text-xl sm:text-3xl text-[#aaa]">查無資料</span>
        <div class="w-full h-0.5 bg-[#f5a830]"></div>

        <h2 class="self-start text-xl sm:text-3xl text-[#fc4886] font-semibold">
          異常事件:未註冊車牌
        </h2>
      </div>
    </div>
  </ng-template>
</div>
