<div class="flex items-center justify-center w-full h-full min-h-[300px]">
  <ng-container
    [ngTemplateOutlet]="!hasSearch ? init : taxiInfo ? data : noCar"
  ></ng-container>
  <!-- <ng-container [ngTemplateOutlet]="data"></ng-container> -->
</div>

<ng-template #init>
  <!-- 初始 -->
  <div class="flex flex-col gap-8 items-center">
    <img class="w-16 sm:w-20" src="icons/search.png" alt="search" />
    <span class="text-xl sm:text-2xl text-[#aaa]"
      >請輸入車號後點擊查詢按鈕</span
    >
  </div>
</ng-template>

<ng-template #noCar>
  <!-- 查無車牌 -->
  <div class="flex flex-col gap-4 items-center">
    <img class="w-16 sm:w-15" src="icons/error.png" alt="error" />
    <span class="text-xl sm:text-3xl text-[#fc4886]">查無車牌</span>
    <div class="flex flex-col gap-1 items-center">
      <span class="text-xl sm:text-2xl text-[#aaa]"
        >找不到車牌號碼:{{ searchRegPlate }}</span
      >
      <span class="text-md sm:text-xl text-[#aaa]">請確認車牌號碼是否正確</span>
    </div>
  </div>
</ng-template>

<ng-template #data>
  <div
    class="flex flex-col items-center justify-center mx-auto gap-4 sm:px-12 sm:py-8 w-full sm:w-fit sm:min-w-[452px] min-h-[300px] sm:min-h-[330px] bg-[#403c3c] border border-white rounded-2xl"
  >
    <div
      class="grid grid-cols-[72px_1fr] sm:grid-cols-[100px_minmax(230px,1fr)] items-center justify-center gap-x-6 gap-y-4 text-lg sm:text-2xl"
    >
      <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
        >車號</label
      >
      <span class="text-3xl sm:text-4xl">{{ taxiInfo.regPlate }}</span>

      <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
        >編號</label
      >
      <span class="text-3xl sm:text-4xl">{{ taxiInfo.driverNo }}</span>

      <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
        >人名</label
      >
      <span class="text-3xl sm:text-4xl">{{ taxiInfo.driverName }}</span>

      <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
        >聯絡電話</label
      >
      <span class="text-3xl sm:text-4xl">{{ taxiInfo.driverPhone }}</span>
    </div>

    <div class="flex-1">
      @if(deleteSuccess) {
      <button
        class="text-lg sm:text-2xl px-12 py-1 h-fit bg-[#f5a830] rounded-sm cursor-pointer hover:bg-[#f2a020]"
      >
        刪除成功
      </button>
      }
    </div>
  </div>
</ng-template>
