<div class="fixed top-14 sm:hidden mb-2 w-[calc(50vw-1.25rem)] z-50">
  <app-dropdown
    class="pl-4 w-full"
    [value]="0"
    [options]="mobileOptions"
    (selectionChange)="onScopeChange($event.value)"
  ></app-dropdown>
</div>

<div class="flex flex-col gap-4 w-full h-full">
  <div class="hidden sm:flex gap-8 h-fit">
    @for(button of data; track button.label; let i = $index) {
    <button
      class="text-xl text-white rounded-md w-36 px-2 py-0.5 cursor-pointer"
      [ngClass]="{
        'bg-[#b2b2b2]': activeIndex !== i,
        'bg-gradient-to-r from-[#767df5] to-[#82a2fc]': activeIndex === i
      }"
      type="button"
      (click)="onScopeChange(i)"
    >
      {{ button.label }}
    </button>
    }
  </div>

  <div
    class="flex flex-col sm:flex-row gap-y-4 items-center justify-between text-[#aaa]"
  >
    <!-- 指定期間 -->
    <div class="flex flex-col sm:flex-row items-center gap-x-2 w-full sm:w-fit">
      <label class="mb-2 sm:mb-0 w-full sm:w-fit whitespace-nowrap"
        >指定年份</label
      >
      <div class="flex items-center gap-2 w-full sm:fit">
        <!-- 第一年份 -->
        <app-dropdown
          class="w-30"
          [options]="yearOptions"
          [value]="formData.firstYear"
          (selectionChange)="onSelectionChange('firstYear', $event)"
        ></app-dropdown>
        <span>年</span>

        <!-- 第二年份 -->
        <app-dropdown
          class="w-30"
          [options]="yearOptions"
          [value]="formData.secondYear"
          [disabeld]="formData.firstYear == null"
          (selectionChange)="onSelectionChange('secondYear', $event)"
        ></app-dropdown>
        <span>年</span>

        <!-- 第三年份 -->
        <app-dropdown
          class="w-30"
          [options]="yearOptions"
          [value]="formData.thirdYear"
          [disabeld]="formData.secondYear == null"
          (selectionChange)="onSelectionChange('thirdYear', $event)"
        ></app-dropdown>
        <span>年</span>
      </div>
    </div>

    <!-- 航點、航班類別、航空公司、飛航類型 -->
    <div
      class="grid grid-cols-[65px_1fr_65px_1fr] sm:flex items-center gap-2 w-full sm:w-fit"
    >
      <label>航空公司</label>
      <app-dropdown
        class="w-full sm:w-27"
        [options]="airlineOptions"
        [value]="optionDefaultValue"
        (selectionChange)="onSelectionChange('airline', $event)"
      >
      </app-dropdown>

      <label>航班類別</label>
      <app-dropdown
        class="w-full sm:w-27"
        [options]="flightClassOptions"
        [value]="optionDefaultValue"
        (selectionChange)="onSelectionChange('flightClass', $event)"
      >
      </app-dropdown>

      <label class="[text-align-last:justify]">航點</label>
      <app-dropdown
        class="w-full sm:w-27"
        [options]="routeOptions"
        [value]="optionDefaultValue"
        (selectionChange)="onSelectionChange('route', $event)"
      >
      </app-dropdown>

      <label>飛航類型</label>
      <app-dropdown
        class="w-full sm:w-20"
        [options]="flightTypeOptions"
        [value]="optionDefaultValue"
        (selectionChange)="onSelectionChange('direction', $event)"
      >
      </app-dropdown>

      <button
        class="col-start-4 px-3 min-h-8 text-white bg-[#318dce] rounded-sm cursor-pointer"
        (click)="onConfirm()"
      >
        確認
      </button>
    </div>
  </div>

  <div class="card flex flex-col flex-1 gap-2 items-center p-4 min-h-0">
    @if(barData.length > 0 && !isNoData) {
    <div class="hidden sm:flex flex-1 flex-col items-center gap-2 w-full">
      <div class="flex items-center gap-4">
        @for(bar of barData; let i = $index; track bar;) {
        <div class="flex items-center gap-1">
          <div class="flex items-center gap-1">
            <div
              class="w-4 h-4 rounded-full"
              [ngStyle]="{ 'background-color': lineData[i].colors?.[0] }"
            ></div>
            <div>{{ lineData[i].label }}</div>
          </div>
          <div
            class="w-4 h-2"
            [ngStyle]="{ 'background-color': bar.colors?.[0] }"
          ></div>
          <div>{{ bar.label }}</div>
        </div>
        }
      </div>

      <div class="flex flex-1 items-center gap-2 w-full min-h-0 relative">
        <div class="text-xl [writing-mode:vertical-rl]">人數</div>
        <app-bar-line-chart
          class="flex-1 h-full"
          [barData]="barData"
          [lineData]="lineData"
          [showLegend]="false"
        ></app-bar-line-chart>
        <div class="text-xl [writing-mode:vertical-rl]">架次</div>
      </div>
    </div>

    <!-- 手機版 -->
    <div class="flex flex-col gap-4 sm:hidden w-full max-w-100">
      <h2 class="text-2xl text-center font-semibold">人數</h2>
      <div
        class="grid border border-gray-300"
        [ngClass]="{
          'grid-cols-2' : barData.length == 1 ,
          'grid-cols-3' : barData.length == 2 ,
          'grid-cols-4' : barData.length == 3 ,
        }"
      >
        <!-- Header -->
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          日期
        </div>
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          {{ firstDateRangeLabel }}
        </div>
        @if(barData.length > 1) {
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          {{ secondDateRangeLabel }}
        </div>
        } @if(barData.length > 2) {
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          {{ thirdDateRangeLabel }}
        </div>
        }

        <!-- Rows -->
        @for (row of barData[0].data; track row.key) {
        <!-- 日期 -->
        <div class="border p-2 text-center">
          {{ row.key }}
        </div>

        <!-- 各年份數值 -->
        @for (col of barData.slice().reverse(); track col.label) {
        <div class="border p-2 text-center">
          {{ col.data[0].value }}
        </div>
        } }
      </div>

      <h2 class="mt-8 text-2xl text-center font-semibold">架次</h2>
      <div
        class="grid border border-gray-300"
        [ngClass]="{
          'grid-cols-2' : barData.length == 1 ,
          'grid-cols-3' : barData.length == 2 ,
          'grid-cols-4' : barData.length == 3 ,
        }"
      >
        <!-- Header -->
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          日期
        </div>
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          {{ firstDateRangeLabel }}
        </div>
        @if(lineData.length > 1) {
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          {{ secondDateRangeLabel }}
        </div>
        } @if(lineData.length > 2) {
        <div
          class="flex items-center justify-center text-center border p-2 font-semibold"
        >
          {{ thirdDateRangeLabel }}
        </div>
        }

        <!-- Rows -->
        @for (row of lineData[0].data; track row.key) {
        <!-- 日期 -->
        <div class="border p-2 text-center">
          {{ row.key }}
        </div>

        <!-- 各年份數值 -->
        @for (col of lineData.slice().reverse(); track col.label) {
        <div class="border p-2 text-center">
          {{ col.data[0].value }}
        </div>
        } }
      </div>
    </div>

    } @else if (!isNoData) {
    <div class="flex flex-1 items-center justify-center text-[30px]">
      請輸入查詢條件
    </div>
    } @else {
    <div class="flex flex-1 items-center justify-center text-[30px]">
      查無資料
    </div>
    }

    <div
      class="flex flex-col sm:flex-row items-center gap-8 w-full sm:h-55 mt-12 sm:mt-4"
    >
      <div
        class="flex-1 w-full h-full min-h-28 sm:min-h-40 border-4 border-[#3372bd] rounded-lg relative"
        [ngClass]="thirdDateRangeLabel ? '' : 'mx-8'"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
        >
          {{ firstDateRangeLabel }}
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[30px] sm:text-[70px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ totalFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
            <div
              class="text-[30px] sm:text-[70px] text-[#02b3e7] font-bold leading-none"
            >
              {{ totalPax | number }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex-1 w-full h-full min-h-28 border-4 border-[#3372bd] rounded-lg relative"
        [ngClass]="thirdDateRangeLabel ? '' : 'mx-8'"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
        >
          {{ secondDateRangeLabel }}
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[30px] sm:text-[70px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ secondYearTotalFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
            <div
              class="text-[30px] sm:text-[70px] text-[#02b3e7] font-bold leading-none"
            >
              {{ secondYearTotalPax | number }}
            </div>
          </div>
        </div>
      </div>

      @if(thirdDateRangeLabel) {
      <div
        class="flex-1 w-full h-full min-h-28 border-4 border-[#3372bd] rounded-lg relative"
        [ngClass]="thirdDateRangeLabel ? '' : 'mx-8'"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
        >
          {{ thirdDateRangeLabel }}
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[30px] sm:text-[70px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ thirdYearTotalFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
            <div
              class="text-[30px] sm:text-[70px] text-[#02b3e7] font-bold leading-none"
            >
              {{ thirdYearTotalPax | number }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
