<div class="flex flex-col gap-2 w-full h-full">
  <app-chart-search-bar [isDate]="false" (submit)="onSubmit($event)"></app-chart-search-bar>
  <app-bar-line-page
    class="flex-1"
    [barData]="barData"
    [lineData]="lineData"
    [isNoData]="isNoData"
    [isDate]="false"
    [firstDateRangeLabel]="firstDateRangeLabel"
    [secondDateRangeLabel]="secondDateRangeLabel"
    [thirdDateRangeLabel]="thirdDateRangeLabel"
  >
  <ng-container [ngTemplateOutlet]="content"></ng-container>
  </app-bar-line-page>
</div>

<ng-template #content>
  <div
    class="flex flex-col sm:flex-row items-center gap-8 w-full sm:h-55 mt-12 sm:mt-4"
  >
    <div
      class="flex-1 w-full h-full min-h-28 sm:min-h-40 border-4 border-[#3372bd] rounded-lg relative"
      [ngClass]="thirdDateRangeLabel ? '' : 'mx-8'"
    >
      <div
        class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
      >
        {{ firstDateRangeLabel }}
      </div>
      <div class="flex items-center h-full">
        <div class="flex-1 flex flex-col items-center justify-center gap-4">
          <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
          <div
            class="text-[30px] sm:text-[50px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
          >
            {{ totalFlight | number }}
          </div>
        </div>
        <div class="flex-1 flex flex-col items-center justify-center gap-4">
          <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
          <div
            class="text-[30px] sm:text-[50px] text-[#02b3e7] font-bold leading-none"
          >
            {{ totalPax | number }}
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex-1 w-full h-full min-h-28 border-4 border-[#3372bd] rounded-lg relative"
      [ngClass]="thirdDateRangeLabel ? '' : 'mx-8'"
    >
      <div
        class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
      >
        {{ secondDateRangeLabel }}
      </div>
      <div class="flex items-center h-full">
        <div class="flex-1 flex flex-col items-center justify-center gap-4">
          <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
          <div
            class="text-[30px] sm:text-[50px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
          >
            {{ secondYearTotalFlight | number }}
          </div>
        </div>
        <div class="flex-1 flex flex-col items-center justify-center gap-4">
          <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
          <div
            class="text-[30px] sm:text-[50px] text-[#02b3e7] font-bold leading-none"
          >
            {{ secondYearTotalPax | number }}
          </div>
        </div>
      </div>
    </div>

    @if (thirdDateRangeLabel) {
      <div
        class="flex-1 w-full h-full min-h-28 border-4 border-[#3372bd] rounded-lg relative"
        [ngClass]="thirdDateRangeLabel ? '' : 'mx-8'"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
        >
          {{ thirdDateRangeLabel }}
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[30px] sm:text-[50px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ thirdYearTotalFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
            <div
              class="text-[30px] sm:text-[50px] text-[#02b3e7] font-bold leading-none"
            >
              {{ thirdYearTotalPax | number }}
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</ng-template>
