<div class="card flex flex-2 flex-col gap-2 p-4 w-full h-full">
  <div class="flex items-center gap-2">
    <h2 class="text-2xl font-bold text-[#06e5ff]">後續預報</h2>
  </div>

  <div class="flex flex-col h-full text-xl">
    <!-- 國際標題列 -->
    <div
      class="grid [grid-template-columns:60px_repeat(5,1fr)] text-center mb-2"
    >
      <div></div>
      <div></div>
      <div
        class="flex items-center justify-center col-span-2 text-[#06e5ff] font-bold"
      >
        <span class="text-4xl">60</span>分鐘預報架次/人數
      </div>
      <div
        class="flex items-center justify-center col-span-2 text-[#06e5ff] font-bold"
      >
        <span class="text-4xl">120</span>分鐘預報架次/人數
      </div>
    </div>

    <!-- 國際 -->
    <div
      class="flex-1 relative rounded-t-md overflow-hidden border border-gray-400 border-b-0"
    >
      <!-- 背景層 -->
      <div
        class="absolute inset-0 grid [grid-template-columns:80px_repeat(5,1fr)] pointer-events-none"
      >
        <div></div>
        <div></div>
        <div class="mr-1 col-span-2 bg-[#2cb7ae] rounded-t-sm"></div>
        <div class="ml-1 col-span-2 bg-[#2cb7ae] rounded-t-sm"></div>
      </div>

      <!-- 內容 -->
      <div
        class="h-full relative grid [grid-template-columns:80px_repeat(5,1fr)] text-center [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:p-2"
      >
        <div
          class="row-span-2 flex items-center justify-center border-r border-gray-400 text-white font-bold [writing-mode:vertical-rl]"
        >
          國際
        </div>

        <div class="border-b border-gray-400 text-white">出境</div>
        <div class="border-b border-gray-400 text-black font-bold">100</div>
        <div class="border-b border-gray-400 text-black font-bold">200</div>
        <div class="border-b border-gray-400 text-black font-bold">300</div>
        <div class="border-b border-gray-400 text-black font-bold">400</div>

        <div class="border-gray-400 text-white">入境</div>
        <div class="border-gray-400 text-black font-bold">110</div>
        <div class="border-gray-400 text-black font-bold">210</div>
        <div class="border-gray-400 text-black font-bold">310</div>
        <div class="text-black font-bold">510</div>
      </div>
    </div>

    <!-- 兩岸 -->
    <div
      class="flex-1 relative rounded-b-md overflow-hidden border border-gray-400"
    >
      <!-- 背景層 -->
      <div
        class="absolute inset-0 grid [grid-template-columns:80px_repeat(5,1fr)] pointer-events-none"
      >
        <div></div>
        <div></div>
        <div class="mr-1 col-span-2 bg-[#2cb7ae] rounded-b-sm"></div>
        <div class="ml-1 col-span-2 bg-[#2cb7ae] rounded-b-sm"></div>
      </div>

      <!-- 內容 -->
      <div
        class="h-full relative grid [grid-template-columns:80px_repeat(5,1fr)] text-center [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:p-2"
      >
        <div
          class="row-span-2 flex items-center justify-center border-r border-gray-400 text-white font-bold [writing-mode:vertical-rl]"
        >
          兩岸
        </div>

        <div class="border-b border-gray-400 text-white">出境</div>
        <div class="border-b border-gray-400 text-black font-bold">100</div>
        <div class="border-b border-gray-400 text-black font-bold">200</div>
        <div class="border-b border-gray-400 text-black font-bold">300</div>
        <div class="border-b border-gray-400 text-black font-bold">400</div>

        <div class="border-gray-400 text-white">入境</div>
        <div class="border-gray-400 text-black font-bold">110</div>
        <div class="border-gray-400 text-black font-bold">210</div>
        <div class="border-gray-400 text-black font-bold">310</div>
        <div class="text-black font-bold">510</div>
      </div>
    </div>

    <!-- 國內標題列 -->
    <div
      class="grid [grid-template-columns:60px_repeat(5,1fr)] text-center my-2"
    >
      <div></div>
      <div></div>
      <div
        class="flex items-center justify-center col-span-2 text-[#06e5ff] font-bold"
      >
        <span class="text-4xl">30</span>分鐘預報架次/人數
      </div>
      <div
        class="flex items-center justify-center col-span-2 text-[#06e5ff] font-bold"
      >
        <span class="text-4xl">60</span>分鐘預報架次/人數
      </div>
    </div>

    <!-- 國內 -->
    <div
      class="flex-1 relative rounded-md overflow-hidden border border-gray-400"
    >
      <!-- 背景層 -->
      <div
        class="absolute inset-0 grid [grid-template-columns:80px_repeat(5,1fr)] pointer-events-none"
      >
        <div></div>
        <div></div>
        <div class="mr-1 col-span-2 bg-[#2cb7ae] rounded-sm"></div>
        <div class="ml-1 col-span-2 bg-[#2cb7ae] rounded-sm"></div>
      </div>

      <!-- 內容 -->
      <div
        class="h-full relative grid [grid-template-columns:80px_repeat(5,1fr)] text-center [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:p-2"
      >
        <div
          class="row-span-2 flex items-center justify-center border-r border-gray-400 text-white [writing-mode:vertical-rl]"
        >
          國內
        </div>

        <div class="border-b border-gray-400 text-white">到站</div>
        <div class="border-b border-gray-400 text-black font-bold">100</div>
        <div class="border-b border-gray-400 text-black font-bold">200</div>
        <div class="border-b border-gray-400 text-black font-bold">300</div>
        <div class="border-b border-gray-400 text-black font-bold">400</div>

        <div class="border-gray-400 text-white">離站</div>
        <div class="border-gray-400 text-black font-bold">110</div>
        <div class="border-gray-400 text-black font-bold">210</div>
        <div class="border-gray-400 text-black font-bold">310</div>
        <div class="text-black font-bold">510</div>
      </div>
    </div>
  </div>
</div>
