<div class="card flex flex-2 flex-col gap-2 p-4 w-full h-full">
  <div class="flex items-center gap-2">
    <h2 class="text-xl font-bold text-[#02b3e5]">後續預報</h2>
  </div>

  <div class="flex flex-col px-4 gap-1 h-full">
    <div class="flex flex-shrink-0 items-center gap-1 ml-18 mb-1">
      <div
        class="flex-1 translate-x-3.5 bg-[#43B4E8] text-white px-2 py-1 text-center relative clip-left"
      >
        <span class="text-3xl font-bold">60</span>
        <span class="ml-1">分鐘預報架次/人數</span>
      </div>

      <div
        class="flex-1 bg-[#43B4E8] text-[#43B4E8] p-1 text-center relative clip-right"
      >
        <div class="bg-white ml-0.75 pl-4 clip-right-sm">
          <span class="text-3xl font-bold">120</span>
          <span class="ml-1">分鐘預報架次/人數</span>
        </div>
      </div>
    </div>

    <table
      class="flex-1 table-auto border-collapse border-3 border-gray-400 text-center"
    >
      <colgroup>
        <col style="width: 2%" />
        <col style="width: 8%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
      </colgroup>

      <tbody class="[&_td]:border [&_td]:border-gray-400 [&_td]:px-2">
        <tr>
          <td rowspan="2" class="text-gray-400 font-bold">國際</td>
          <td class="text-gray-400">出境</td>
          <td class="text-xl font-bold">100</td>
          <td class="text-xl font-bold !border-r-3">200</td>
          <td class="text-xl font-bold">300</td>
          <td class="text-xl font-bold">400</td>
        </tr>
        <tr>
          <td class="text-gray-400">入境</td>
          <td class="text-xl font-bold">110</td>
          <td class="text-xl font-bold !border-r-3">210</td>
          <td class="text-xl font-bold">310</td>
          <td class="text-xl font-bold">510</td>
        </tr>
      </tbody>
    </table>

    <table
      class="flex-1 table-auto border-collapse border-3 border-gray-400 text-center"
    >
      <colgroup>
        <col style="width: 2%" />
        <col style="width: 8%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
      </colgroup>

      <tbody class="[&_td]:border [&_td]:border-gray-400 [&_td]:px-2">
        <tr>
          <td rowspan="2" class="text-gray-400 font-bold">兩岸</td>
          <td class="text-gray-400">出境</td>
          <td class="text-xl font-bold">100</td>
          <td class="text-xl font-bold !border-r-3">200</td>
          <td class="text-xl font-bold">300</td>
          <td class="text-xl font-bold">400</td>
        </tr>
        <tr>
          <td class="text-gray-400">入境</td>
          <td class="text-xl font-bold">110</td>
          <td class="text-xl font-bold !border-r-3">210</td>
          <td class="text-xl font-bold">310</td>
          <td class="text-xl font-bold">510</td>
        </tr>
      </tbody>
    </table>

    <div class="flex flex-shrink-0 items-center gap-1 mt-2 ml-18 mb-1">
      <div
        class="flex-1 translate-x-3.5 bg-[#43B4E8] text-white px-2 py-1 text-center relative clip-left"
      >
        <span class="text-3xl font-bold">30</span>
        <span class="ml-1">分鐘預報架次/人數</span>
      </div>

      <div
        class="flex-1 bg-[#43B4E8] text-[#43B4E8] p-1 text-center relative clip-right"
      >
        <div class="bg-white ml-0.75 pl-4 clip-right-sm">
          <span class="text-3xl font-bold">60</span>
          <span class="ml-1">分鐘預報架次/人數</span>
        </div>
      </div>
    </div>

    <table
      class="flex-1 table-auto border-collapse border-3 border-gray-400 text-center"
    >
      <colgroup>
        <col style="width: 2%" />
        <col style="width: 8%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
        <col style="width: 20%" />
      </colgroup>

      <tbody class="[&_td]:border [&_td]:border-gray-400 [&_td]:px-2">
        <tr>
          <td rowspan="2" class="text-gray-400 font-bold">國內</td>
          <td class="text-gray-400">離站</td>
          <td class="text-xl font-bold">100</td>
          <td class="text-xl font-bold !border-r-3">200</td>
          <td class="text-xl font-bold">300</td>
          <td class="text-xl font-bold">400</td>
        </tr>
        <tr>
          <td class="text-gray-400">到站</td>
          <td class="text-xl font-bold">110</td>
          <td class="text-xl font-bold !border-r-3">210</td>
          <td class="text-xl font-bold">310</td>
          <td class="text-xl font-bold">510</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
