<div class="w-full">
  <div
    #dropdownTrigger
    class="flex items-center bg-black border border-[#3372bd] px-2 py-1 rounded cursor-pointer select-none"
    (click)="toggle()"
  >
    @if(showIcon) {
      <div
        class="w-4 h-4 mr-4 rounded-full bg-orange-500 border-2 border-white"
      ></div>
    }
    <span>{{ selectedLabel || placeholder }}</span>
    <img
      class="ml-auto w-6 h-3"
      src="icons/white-down-arrow.png"
      alt="arrow-down"
    />
  </div>

  <ng-template #dropdownMenu>
    <div
      class="w-full text-white bg-black border border-[#3372bd] rounded shadow-md py-1"
    >
      @for (item of options; track $index) {
      <div
        class="px-3 py-2 hover:bg-gray-800 cursor-pointer"
        (click)="select(item)"
      >
        {{ item.label }}
      </div>
      }
    </div>
  </ng-template>
</div>
