<h3 class="text-lg sm:text-xl">航班狀況</h3>
<div class="flex flex-col gap-2 h-full">
  <div class="flex gap-2 items-center w-full h-full">
    <h4 class="hidden sm:block text-xl [writing-mode:vertical-rl]">
      {{
        activeIndex !== data.length - 1
          ? data[activeIndex].label.slice(0, -1)
          : data[activeIndex].label
      }}
    </h4>
    <app-css-bar-chart
      class="flex-1"
      [labels]="['實際架次', '預報架次']"
      [chartData]="data[activeIndex].flightData"
      [colorClass]="'bg-gradient-to-r from-[#fd9c44] to-[#ffb029]'"
      [size]="'sm'"
    ></app-css-bar-chart>
  </div>
  <div class="flex gap-2 items-center w-full h-full">
    <h4 class="hidden sm:block text-xl [writing-mode:vertical-rl]">
      {{
        activeIndex !== data.length - 1
          ? data[activeIndex].label.slice(0, -1)
          : data[activeIndex].label
      }}
    </h4>
    <app-css-bar-chart
      class="flex-1"
      [labels]="['實際人數', '預報人數']"
      [chartData]="data[activeIndex].passengerData"
      [colorClass]="'bg-[#02b3e5]'"
      [size]="'sm'"
    ></app-css-bar-chart>
  </div>
</div>
