<div class="flex flex-col sm:flex-row gap-4 h-full">
  <div class="flex-1 card flex flex-col p-4 sm:p-6 h-full">
    <!-- Tabs -->
    <div class="flex justify-between gap-3 sm:gap-10 mb-4 text-md sm:text-xl">
      <button
        class="flex-1 py-1 rounded border border-[#f5a830] cursor-pointer"
        [ngClass]="
          activeTab === 'create'
            ? 'bg-[#f5a830] text-white'
            : 'bg-[#231716] text-[#4d4c4e]'
        "
        (click)="setTab('create')"
      >
        新增
      </button>

      <button
        class="flex-1 py-1 rounded border border-[#f5a830] cursor-pointer"
        [ngClass]="
          activeTab === 'update'
            ? 'bg-[#f5a830] text-white'
            : 'bg-[#231716] text-[#4d4c4e]'
        "
        (click)="setTab('update')"
      >
        修改
      </button>

      <button
        class="flex-1 py-1 rounded border border-[#f5a830] cursor-pointer"
        [ngClass]="
          activeTab === 'delete'
            ? 'bg-[#f5a830] text-white'
            : 'bg-[#231716] text-[#4d4c4e]'
        "
        (click)="setTab('delete')"
      >
        刪除
      </button>

      <button
        class="flex-1 py-1 rounded border border-[#f5a830] cursor-pointer"
        [ngClass]="
          activeTab === 'read'
            ? 'bg-[#f5a830] text-white'
            : 'bg-[#231716] text-[#4d4c4e]'
        "
        (click)="setTab('read')"
      >
        查詢
      </button>
    </div>

    <!-- Form -->
    <div class="flex-1 rounded shadow sm:p-6">
      @if (activeTab === 'create') {
      <app-create-form></app-create-form>
      } @else if (activeTab === 'update') {
      <app-update-form></app-update-form>
      } @else if (activeTab === 'delete') {
      <app-delete-form></app-delete-form>
      } @else if (activeTab === 'read') {
      <app-read-form></app-read-form>
      }
    </div>
  </div>

  <div class="flex-2 card flex flex-col gap-4 p-4 sm:p-6">
    <div class="flex-1">
      <!-- Content -->
      @if (activeTab === 'create') {
      <app-create-display></app-create-display>
      } @else if (activeTab === 'update') {
      <app-update-display></app-update-display>
      } @else if (activeTab === 'delete') {
      <app-delete-display></app-delete-display>
      } @else if (activeTab === 'read') {
      <app-read-display></app-read-display>
      }
    </div>

    <!-- 固定內容 -->
    <div class="flex flex-col gap-3">
      <!-- 上方統計 -->
      <div
        class="flex-1 flex flex-col sm:flex-row p-4 w-full border border-blue-500 rounded-xl"
      >
        <!-- 目前排班總數 -->
        <div
          class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0 border-b sm:border-b-0"
        >
          <h4 class="text-xl text-[#c5b6d4] font-semibold">目前排班總數</h4>
          <div class="flex flex-1 items-center gap-x-2">
            <span class="text-5xl text-[#87c8ee] font-bold">
              {{ taxiStat?.taxiWaiting }}
            </span>
            <span class="text-xl">輛</span>
          </div>
          <div
            class="hidden sm:absolute right-0 bottom-0 h-18 border-r-3 border-[#979896]"
          ></div>
        </div>

        <!-- 現場人數 -->
        <div
          class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0 border-b sm:border-b-0"
        >
          <h4 class="text-xl text-[#c5b6d4] font-semibold">現場人數</h4>
          <div class="flex flex-1 items-center gap-x-2">
            <div class="flex flex-col items-center gap-y-2 mr-8">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.currentPeopleCount_Intl }}
              </span>
              <span class="text-xl text-[#9e9f9f]">國際</span>
            </div>
            <div class="flex flex-col items-center gap-y-2">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.currentPeopleCount_Domestic }}
              </span>
              <span class="text-xl text-[#9e9f9f]">國內</span>
            </div>
            <span class="absolute right-0 sm:block text-xl">人</span>
          </div>
          <div
            class="hidden sm:absolute right-0 bottom-0 h-18 border-r-3 border-[#979896]"
          ></div>
        </div>

        <!-- 預估等待時間 -->
        <div
          class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0 border-b sm:border-b-0"
        >
          <h4 class="text-xl text-[#c5b6d4] font-semibold">預估等待時間</h4>
          <div class="flex flex-1 items-center gap-x-2">
            <div class="flex flex-col items-center gap-y-2 mr-8">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.estWaitingTime_Intl }}
              </span>
              <span class="text-xl text-[#9e9f9f]">國際</span>
            </div>
            <div class="flex flex-col items-center gap-y-2">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.estWaitingTime_Domestic }}
              </span>
              <span class="text-xl text-[#9e9f9f]">國內</span>
            </div>
            <span class="absolute right-0 sm:block text-xl">min</span>
          </div>
          <div
            class="hidden sm:absolute right-0 bottom-0 h-18 border-r-3 border-[#979896]"
          ></div>
        </div>

        <!-- 今日已服務 -->
        <div
          class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0"
        >
          <h4 class="text-xl text-[#c5b6d4] font-semibold">今日已服務</h4>
          <div class="flex flex-1 items-center gap-x-2">
            <div class="flex flex-col items-center gap-y-2 mr-8">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.served_Intl }}
              </span>
              <span class="text-xl text-[#9e9f9f]">國際</span>
            </div>
            <div class="flex flex-col items-center gap-y-2">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.served_Domestic }}
              </span>
              <span class="text-xl text-[#9e9f9f]">國內</span>
            </div>
          </div>
        </div>
      </div>

      <!-- 營運統計 -->
      <div
        class="flex-1 flex flex-col sm:gap-y-4 p-4 w-full border border-blue-500 rounded-xl"
      >
        <div class="grid grid-cols-4">
          <h4
            class="text-xl text-[#c5b6d4] font-semibold text-center pt-6 sm:pt-0"
          >
            營運統計
          </h4>
        </div>

        <div class="flex flex-col sm:flex-row w-full">
          <!-- 平均車輛數/時 -->
          <div
            class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0 border-b sm:border-b-0"
          >
            <div class="flex flex-col items-center gap-y-2">
              <span class="text-5xl text-[#87c8ee] font-bold">
                {{ taxiStat?.avgTaxiPerHour | number : "1.0-1" }}
              </span>
              <span class="text-xl text-[#9e9f9f]">平均車輛數/時</span>
            </div>
            <div
              class="hidden sm:absolute right-0 bottom-0 h-18 border-r-3 border-[#979896]"
            ></div>
          </div>

          <!-- 平均等候時間/車 -->
          <div
            class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0 border-b sm:border-b-0"
          >
            <div class="flex flex-col items-center gap-y-2">
              <div>
                <span class="text-5xl text-[#87c8ee] font-bold mr-2 sm:mr-4">
                  {{ taxiStat?.avgWaitTaxi | number : "1.0-1" }}
                </span>
                <span class="text-xl">min</span>
              </div>
              <span class="text-xl text-[#9e9f9f]">平均等候時間/車</span>
            </div>
            <div
              class="hidden sm:absolute right-0 bottom-0 h-18 border-r-3 border-[#979896]"
            ></div>
          </div>

          <!-- 平均等候時間/人 -->
          <div
            class="flex flex-1 flex-col items-center justify-center gap-4 relative w-[240px] sm:w-full mx-auto py-6 sm:py-0"
          >
            <div class="flex flex-col items-center gap-y-2">
              <div>
                <span class="text-5xl text-[#87c8ee] font-bold mr-2 sm:mr-4">
                  {{ taxiStat?.avgWaitPax | number : "1.0-1" }}
                </span>
                <span class="text-xl">min</span>
              </div>
              <span class="text-xl text-[#9e9f9f]">平均等候時間/人</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
