<div class="flex flex-col sm:flex-row gap-y-4 justify-between">
  <h3 class="text-lg sm:text-xl font-semibold">{{ title }}</h3>

  <div class="flex flex-wrap items-center gap-2 sm:gap-4 text-xs sm:text-sm">
    @for(bar of barData; let i = $index; track bar;) {
    <div class="flex items-center gap-1 w-[calc(50%-.25rem)] sm:w-auto">
      <div
        class="w-3 h-3"
        [ngStyle]="{ 'background-color': bar.colors?.[0] }"
      ></div>
      <div>{{ bar.label }}</div>
    </div>
    <div class="flex items-center gap-1 w-[calc(50%-.25rem)] sm:w-auto">
      <div
        class="w-8 h-0.5"
        [ngStyle]="{ 'background-color': lineData[i].colors?.[0] }"
      ></div>
      <div>{{ lineData[i].label }}</div>
    </div>
    }
  </div>
</div>

<div class="flex justify-between text-sm">
  <span>單位:人數</span>
  <span>單位:架次</span>
</div>

<div class="flex flex-1 min-h-0 w-full">
  @if(barData.length > 0 && lineData.length > 0) {
  <app-bar-line-chart [barData]="barData" [lineData]="lineData" class="w-full h-full" [showLegend]="false"></app-bar-line-chart>
  }
</div>
