<div class="fixed top-14 sm:hidden mb-2 w-[calc(50vw-1.25rem)] z-50">
  <app-dropdown
    class="pl-4 w-full"
    [value]="0"
    [options]="mobileOptions"
    (selectionChange)="onTabClick($event.value)"
  ></app-dropdown>
</div>

<div class="flex flex-col gap-4 w-full h-full">
  <div class="flex justify-between">
    <div class="hidden sm:flex gap-8 h-fit">
      @for (button of data; track button.label; let i = $index) {
        <button
          class="text-xl text-white rounded-md w-36 px-2 py-0.5 cursor-pointer"
          [ngClass]="{
            'bg-[#b2b2b2]': activeIndex !== i,
            'bg-gradient-to-r from-[#767df5] to-[#82a2fc]': activeIndex === i,
          }"
          type="button"
          (click)="onTabClick(i)"
        >
          {{ button.label }}
        </button>
      }
    </div>

    <div
      class="grid grid-cols-2 sm:flex items-center gap-x-2 gap-y-4 w-full sm:w-fit"
    >
      <div class="flex flex-col sm:flex-row sm:items-center gap-2">
        <label class="text-[#aaa]">異常狀態</label>
        <app-dropdown
          class="w-full sm:w-40"
          [options]="flightStatusOptions"
          [value]="flightStatusDefault"
          (selectionChange)="onFlightStatusChange($event)"
        ></app-dropdown>
      </div>

      <div class="flex flex-col sm:flex-row sm:items-center gap-2">
        <label class="text-[#aaa]">飛航類型</label>
        <app-dropdown
          class="w-full sm:w-25"
          [options]="flightDirectionOptions"
          [value]="'all'"
          (selectionChange)="onFlightDirectionChange($event)"
        ></app-dropdown>
      </div>

      <a
        class="col-span-1 col-start-2 ml-auto sm:ml-0 w-full sm:w-30 px-2 py-1 rounded-xs bg-gradient-to-r from-[#44b59b] to-[#008abf] text-center cursor-pointer"
        [href]="csvUrl"
      >
        匯出(列印)
      </a>
    </div>
  </div>

  <div class="card flex flex-1 flex-col flex-shrink-0 gap-2 p-4 w-full min-h-0">
    <!-- table -->
    <div class="flex-1 w-full min-h-0 mb-12 overflow-auto">
      <div
        class="sticky w-full min-w-[1440px] sm:min-w-none grid grid-cols-10 bg-[#00b2ee] text-lg sm:text-xl font-semibold text-center z-10"
      >
        <div class="p-2">航班編號</div>
        <div class="p-2">飛航類型</div>
        <div class="p-2">
          {{
            paramDirection == "all"
              ? "出發地/目的地"
              : paramDirection == "inbound"
                ? "出發地"
                : "目的地"
          }}
        </div>
        <div class="p-2">登機門</div>
        <div class="p-2">表定抵達</div>
        <div class="p-2">實際抵達</div>
        <div class="p-2">延誤時間</div>
        <div class="p-2">異常狀況</div>
        <div class="p-2">異常原因</div>
        <div class="p-2">處理方式</div>
      </div>

      <div class="min-w-[1440px] sm:min-w-none py-1 text-md sm:text-lg">
        <!-- 明細 -->
        @for (row of table; let i = $index; track row) {
          <div
            class="grid grid-cols-10 text-center hover:bg-[#494746]"
            [ngClass]="{ 'bg-[#333333]': i % 2 === 1 }"
          >
            <div class="p-2">{{ row.flightNumber }}</div>
            <div class="p-2">{{ row.arrivalPort ? '離站' : '到站' }}</div>
            <div class="p-2">{{ row.arrivalPort || row.departurePort }}</div>
            <div class="p-2 flex justify-center">
              <div
                class="flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 border border-[#27c4a9] rounded-xs"
              >
                <span class="text-sm sm:text-xl">{{ row.gate }}</span>
              </div>
            </div>
            <div class="p-2">{{ row.scheduledArrival }}</div>
            <div class="p-2">{{ row.actualArrival }}</div>
            <div class="p-2">{{ row.delayTime }}</div>
            <div class="p-2 text-[#be985b]">{{ row.status }}</div>
            <div class="p-2 text-[#27c4a9]">{{ row.reason }}</div>
            <div class="p-2 text-[#27c4a9]">{{ row.handle }}</div>
          </div>
        }
      </div>
    </div>

    <div class="flex flex-col sm:flex-row items-center gap-8">
      <div
        class="flex-1 mx-8 w-full h-full min-h-28 sm:min-h-40 border-4 border-[#3372bd] rounded-lg relative"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
        >
          實際異常總數
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[30px] sm:text-[60px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ actualFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
            <div
              class="text-[30px] sm:text-[60px] text-[#02b3e7] font-bold leading-none"
            >
              {{ actualPax | number }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex-1 mx-8 w-full h-full min-h-28 border-4 border-[#3372bd] rounded-lg relative"
      >
        <div
          class="absolute left-1/2 w-fit mx-auto px-12 -translate-x-1/2 -translate-y-1/2 text-2xl sm:text-4xl text-[#a898c7] bg-[#252525] whitespace-nowrap"
        >
          預計異常總數
        </div>
        <div class="flex items-center h-full">
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總架次</div>
            <div
              class="text-[30px] sm:text-[60px] text-[#f08622] font-bold leading-none w-full text-center border-r-2 border-[#a5a5a5]"
            >
              {{ estFlight | number }}
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center gap-4">
            <div class="text-lg sm:text-3xl text-[#a5a5a5]">總人數</div>
            <div
              class="text-[30px] sm:text-[60px] text-[#02b3e7] font-bold leading-none"
            >
              {{ estPax | number }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
