<div class="card flex flex-col sm:flex-row gap-8 h-full p-4 -mt-8 sm:mt-0">
  <div class="flex-4 flex flex-col gap-4 sm:gap-1">
    <!-- 日期區間 -->
    <div class="flex flex-col sm:flex-row items-center gap-2 sm:ml-auto">
      <span class="text-sm font-semibold text-right">{{
        currentWeekRange
      }}</span>
      <app-calendar-trigger
        class="w-60"
        [selectedDate]="searchDate"
        [isAllDay]="true"
        [placeholder]="'-- -- --'"
        [title]="'日期(起)'"
        (dateChange)="onSearchDateChange($event)"
      ></app-calendar-trigger>
    </div>

    <div class="flex-1 w-full min-h-160 overflow-auto">
      <div class="flex flex-col h-fit min-h-full bg-white min-w-200">
        <!-- Header -->
        <div class="sticky top-0 z-10 grid grid-cols-7 bg-[#4a6eb6] border-b">
          @for (day of weekDays; track $index) {
            <div
              class="py-1 text-center font-semibold border-r-2 last:border-r-0 text-white"
            >
              {{ day }}
            </div>
          }
        </div>

        <!-- Content -->
        <div class="flex-1 grid grid-cols-7">
          @for (dayItems of currentWeek; track $index) {
            <div class="p-1 pt-8 border-r-2 last:border-r-0 even:bg-[#eef2f8]">
              @for (item of dayItems; track $index) {
                @if (item.status) {
                  <div
                    class="flex flex-col items-center gap-1 mb-2 rounded-xl bg-white p-1 sm:p-2 pt-2 sm:pt-4 text-sm border-3 border-[#aba196] cursor-pointer"
                    (click)="selectItem(item)"
                  >
                    <div
                      class="text-2xl text-[#008540] font-semibold leading-none"
                    >
                      {{ item.flightNo }}
                    </div>
                    <div
                      class="text-sm sm:text-md font-semibold text-black text-center"
                    >
                      {{ item.date }}
                    </div>
                    <div
                      class="text-sm sm:text-md font-semibold text-black text-center"
                    >
                      {{ item.time }}
                    </div>
                    <div
                      class="text-sm text-center py-0.5 w-full rounded-sm text-white"
                      [ngStyle]="{
                        'background-color':
                          STATUS_COLOR_MAP[item.status] || '#c8c8c8',
                      }"
                    >
                      {{ item.status }}
                    </div>
                  </div>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Paginator -->

    <div class="flex items-center justify-center gap-2 py-3 border-t">
      @if (paginatorPages.length > 1) {
        <!-- 左箭頭 -->
        <button
          class="w-8 h-8 rounded-full bg-[#00ace5] flex items-center justify-center cursor-pointer disabled:opacity-60"
          (click)="prevWeek()"
          [disabled]="currentWeekIndex === 0"
        >
          <span class="text-3xl -translate-y-0.5">‹</span>
        </button>

        <!-- 頁碼 -->
        @for (page of paginatorPages; track page) {
          <button
            class="w-8 h-8 rounded-full flex items-center justify-center text-sm cursor-pointer"
            [ngClass]="{
              'bg-[#b7b7b7] text-black': page === currentWeekIndex + 1,
              '': page !== currentWeekIndex + 1,
              'cursor-default': page === '...',
            }"
            (click)="page !== '...' && goToWeek(page - 1)"
            [disabled]="page === '...'"
          >
            {{ page }}
          </button>
        }

        <!-- 右箭頭 -->
        <button
          class="w-8 h-8 rounded-full bg-[#00ace5] flex items-center justify-center cursor-pointer disabled:opacity-60"
          (click)="nextWeek()"
          [disabled]="currentWeekIndex === weeks.length - 1"
        >
          <span class="text-3xl -translate-y-0.5">›</span>
        </button>
      }
    </div>
  </div>

  <!-- 申請內容 -->
  <div class="flex-3 flex flex-col flex-shrink-0 items-center pb-8 sm:pb-14">
    <h2
      class="text-2xl sm:text-4xl text-center w-[90%] py-4 sm:py-8 sm:mb-4 border-b-2 border-[#e69d30]"
    >
      申請內容
    </h2>

    <form
      class="min-h-0 px-0.5 sm:px-15 my-3 py-1 rounded-lg space-y-1 text-md sm:text-2xl overflow-auto"
      [formGroup]="form"
    >
      <!-- Row 1：航班資訊 / 起飛時間 -->
      <!-- 航班資訊 -->
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[1fr_2fr_1fr_1fr] gap-x-2 sm:gap-x-4 gap-y-1"
      >
        <label class="text-[#97e0fb] font-semibold h-fit translate-y-1 [text-align-last:justify]">
          航班資訊
        </label>
        <div class="flex flex-col w-full">
          <input
            type="text"
            class="w-full bg-[#193652] rounded px-2 py-1"
            formControlName="flightInfo"
          />
          <!-- 錯誤訊息固定高度 -->
          <div class="text-red-500 text-xs mt-1 min-h-[1rem]">
            {{
              form.get("flightInfo")?.touched && form.get("flightInfo")?.invalid && isSubmitted
                ? "請輸入航班資訊"
                : " "
            }}
          </div>
        </div>
      </div>

      <!-- 起飛時間 -->
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[1fr_2fr_1fr_1fr] gap-x-2 sm:gap-x-4 gap-y-1"
      >
        <label class="text-[#97e0fb] font-semibold h-fit translate-y-1 [text-align-last:justify]">
          起飛時間
        </label>
        <div class="flex flex-col w-full">
          <div class="flex items-center gap-1">
            <app-dropdown-secondary
              class="w-full"
              [value]="formData.departureTimeHour"
              [options]="hourOptions"
              (selectionChange)="onTimeChange('departureTimeHour', $event)"
            ></app-dropdown-secondary>
            <span>:</span>
            <app-dropdown-secondary
              class="w-full"
              [value]="formData.departureTimeMin"
              [options]="minOptions"
              (selectionChange)="onTimeChange('departureTimeMin', $event)"
            ></app-dropdown-secondary>
          </div>
          <!-- 錯誤訊息固定高度 -->
          <div class="text-red-500 text-xs mt-1 min-h-[1rem]">

          </div>
        </div>
      </div>

      <!-- Row 2 : 申請時間 -->
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[1fr_2fr_1fr_1fr] gap-x-2 sm:gap-x-4 gap-y-1"
      >
        <label class="text-[#97e0fb] font-semibold h-fit translate-y-1 [text-align-last:justify]">
          申請時間
        </label>
        <div class="col-span-3 flex flex-col w-full gap-1">
          <div class="flex items-center gap-1">
            <!-- 起始時間 -->
            <app-dropdown-secondary
              class="w-full"
              [value]="formData.applyTimeStartHour"
              [options]="hourOptions"
              (selectionChange)="
                onTimeChange('applyTimeStartHour', $event)
              "
            ></app-dropdown-secondary>
            <span>:</span>
            <app-dropdown-secondary
              class="w-full"
              [value]="formData.applyTimeStartMin"
              [options]="minOptions"
              (selectionChange)="
                onTimeChange('applyTimeStartMin', $event)
              "
            ></app-dropdown-secondary>

            <!-- 結束時間 -->
            <span class="mx-1">~</span>
            <app-dropdown-secondary
              class="w-full"
              [value]="formData.applyTimeEndHour"
              [options]="hourOptions"
              (selectionChange)="onTimeChange('applyTimeEndHour', $event)"
            ></app-dropdown-secondary>
            <span>:</span>
            <app-dropdown-secondary
              class="w-full"
              [value]="formData.applyTimeEndMin"
              [options]="minOptions"
              (selectionChange)="onTimeChange('applyTimeEndMin', $event)"
            ></app-dropdown-secondary>
          </div>
          <!-- 錯誤訊息固定高度 -->
          <div class="text-red-500 text-xs mt-1 min-h-[1rem]">
            {{
              (form.get("applyTimeStartHour")?.touched ||
                form.get("applyTimeStartMin")?.touched ||
                form.get("applyTimeEndHour")?.touched ||
                form.get("applyTimeEndMin")?.touched) &&
              (form.get("applyTimeStartHour")?.invalid ||
                form.get("applyTimeStartMin")?.invalid ||
                form.get("applyTimeEndHour")?.invalid ||
                form.get("applyTimeEndMin")?.invalid) &&
                isSubmitted
                ? "請選擇完整申請時間"
                : " "
            }}
          </div>
        </div>
      </div>

      <!-- Row 3：星期 -->
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[1fr_2fr_1fr_1fr] gap-x-2 sm:gap-x-4 gap-y-1"
      >
        <label class="text-[#97e0fb] font-semibold [text-align-last:justify]">
          星期
        </label>

        <div class="col-span-3 flex flex-col w-full">
          <div class="flex items-center justify-between gap-2 flex-wrap">
            <!-- 星期陣列 -->
            @for (day of weekList; track day) {
              <label class="flex items-center gap-2 cursor-pointer">
                <input
                  type="checkbox"
                  class="hidden"
                  [formControl]="getWeekControl(day.key)"
                />

                <span
                  class="w-4 h-4 rounded-full border-2 flex items-center justify-center bg-white"
                >
                  <span
                    *ngIf="getWeekControl(day.key)?.value"
                    class="w-3 h-3 rounded-full bg-[#0a80c4]"
                  ></span>
                </span>

                <span class="text-[#97e0fb]">{{ day.label }}</span>
              </label>
            }
          </div>

          <!-- 錯誤訊息固定高度 -->
          <div class="text-red-500 text-xs mt-1 min-h-[1rem]">
            {{ isWeekDaysInvalid && isSubmitted ? "請至少選擇一天" : " " }}
          </div>
        </div>
      </div>

      <!-- 最後一 Row：申請日期 -->
      <div
        class="grid grid-cols-[64px_1fr] sm:grid-cols-[1fr_2fr_1fr_1fr] gap-x-2 sm:gap-x-4 gap-y-4 items-center"
      >
        <label class="text-[#97e0fb] font-semibold h-fit translate-y-1 [text-align-last:justify]"
          >申請日期</label
        >

        <!-- Checkbox：只能選一 -->
        <div class="flex items-center gap-6 min-h-10">
          <!-- 整季 -->
          <label class="flex flex-1 items-center gap-2 cursor-pointer">
            <input
              type="checkbox"
              class="hidden"
              [checked]="form.get('seasonType')?.value === 'all'"
              (change)="form.get('seasonType')?.setValue('all')"
            />

            <span
              class="w-4 h-4 rounded-full border-2 flex items-center justify-center bg-white"
            >
              @if (form.get("seasonType")?.value === "all") {
                <span class="w-3 h-3 rounded-full bg-[#0a80c4]"></span>
              }
            </span>

            <span class="text-[#97e0fb]">整季</span>
          </label>

          <!-- 其他 -->
          <label class="flex flex-1 items-center gap-2 cursor-pointer">
            <input
              type="checkbox"
              class="hidden"
              [checked]="form.get('seasonType')?.value === 'other'"
              (change)="form.get('seasonType')?.setValue('other'); season = ''"
            />

            <span
              class="w-4 h-4 rounded-full border-2 flex items-center justify-center bg-white"
            >
              @if (form.get("seasonType")?.value === "other") {
                <span class="w-3 h-3 rounded-full bg-[#0a80c4]"></span>
              }
            </span>

            <span class="text-[#97e0fb]">其他</span>
          </label>
        </div>
        @if (form.get("seasonType")?.value === "all") {
          <app-dropdown-secondary
            class="col-span-2"
            [value]="season"
            [options]="seasonOptions"
            (selectionChange)="onSeasonChange($event)"
          ></app-dropdown-secondary>
        }
        @if (form.get("seasonType")?.value === "other") {
          <div class="col-start-1"></div>
          <app-calendar-trigger
            [selectedDate]="formData.applyDateStart"
            [isAllDay]="true"
            [placeholder]="'-- -- --'"
            [title]="'日期(起)'"
            (dateChange)="onDateChange('start', $event)"
          ></app-calendar-trigger>

          <!-- 佔滿兩格 -->
          <div class="col-start-2 sm:col-start-3 sm:col-span-2">
            <app-calendar-trigger
              [selectedDate]="formData.applyDateEnd"
              [isAllDay]="true"
              [placeholder]="'-- -- --'"
              [title]="'日期(迄)'"
              (dateChange)="onDateChange('end', $event)"
            ></app-calendar-trigger>
          </div>
            <!-- 錯誤訊息（固定高度） -->
  <div class="col-span-full text-red-500 text-xs mt-1 min-h-[1rem]">
    {{
      (form.get('applyDateStart')?.touched ||
        form.get('applyDateEnd')?.touched ||
        isSubmitted) &&
      (form.get('applyDateStart')?.invalid ||
        form.get('applyDateEnd')?.invalid)
        ? '請選擇完整申請期間'
        : ' '
    }}
  </div>
        }
      </div>
    </form>

    <div class="sm:px-15 mt-4 flex gap-4 w-full">
      @if (!isEdit) {
        <button
          class="mx-auto w-3/5 sm:w-1/2 text-sm sm:text-2xl py-1 bg-[#c8c8c8] rounded-sm cursor-pointer hover:bg-[#b7b7b7]"
          (click)="onCreate()"
        >
          送出申請
        </button>
        @if (requestId !== "") {
          <button
            class="mx-auto w-3/5 sm:w-1/2 text-sm sm:text-2xl py-1 bg-[#c8c8c8] rounded-sm cursor-pointer hover:bg-[#b7b7b7]"
            (click)="onWithdraw()"
          >
            撤回申請
          </button>
        }
      } @else {
        <button
          class="mx-auto w-3/5 sm:w-1/2 text-sm sm:text-2xl py-1 bg-[#c8c8c8] rounded-sm cursor-pointer hover:bg-[#b7b7b7]"
          (click)="onModify()"
        >
          修改
        </button>
      }
    </div>

    <div class="w-[90%] my-4 sm:my-8 border-b-2 border-[#e69d30]"></div>

    <!-- <div class="sm:px-15 grid grid-cols-3 gap-4 w-full">
      <button
        class="text-sm sm:text-2xl py-1 bg-[#2d489d] rounded-sm cursor-pointer hover:bg-[#23397d]"
      >
        匯出當週報表
      </button>
      <button
        class="text-sm sm:text-2xl py-1 bg-[#2d489d] rounded-sm cursor-pointer hover:bg-[#23397d]"
      >
        匯出兩週報表
      </button>
      <button
        class="text-sm sm:text-2xl py-1 bg-[#2d489d] rounded-sm cursor-pointer hover:bg-[#23397d]"
      >
        匯出當季報表
      </button>
    </div> -->
  </div>
</div>
