<div
  class="flex flex-col items-center justify-center mx-auto gap-4 px-12 py-8 w-fit min-w-[452px] min-h-[330px] bg-[#403c3c] border border-white rounded-2xl"
>
  @if(false) {
  <div
    class="grid grid-cols-[100px_minmax(230px,1fr)] items-center justify-center gap-x-6 gap-y-4 text-2xl"
  >
    <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
      >車號</label
    >
    <span class="text-4xl">123-45</span>

    <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
      >編號</label
    >
    <span class="text-4xl">123-45</span>

    <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
      >人名</label
    >
    <span class="text-4xl">123-45</span>

    <label class="text-[#05aef1] font-semibold [text-align-last:justify]"
      >聯絡電話</label
    >
    <span class="text-4xl">0999999999</span>
  </div>

  <button
    class="text-sm sm:text-2xl px-12 py-1 h-fit bg-[#f5a830] rounded-sm cursor-pointer hover:bg-[#f2a020]"
  >
    新增成功
  </button>
  }
</div>
