<div class="flex flex-col items-center gap-4 sm:gap-6 w-full h-full">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-[64px_1fr] sm:grid-cols-[100px_1fr] gap-x-2 sm:gap-x-4 gap-y-4 sm:gap-y-4 items-center text-md sm:text-2xl w-full"
  >
    <!-- 車號 -->
    <label
      class="text-[#97e0fb] font-semibold [text-align-last:justify] self-start pt-1"
    >
      車號
    </label>
    <div>
      <input
        type="text"
        formControlName="regPlate"
        class="w-full h-10 bg-[#193652] rounded px-2 py-1 border border-[#193652] focus:outline-none focus:border-[#2bb0ff]"
        [class.border-red-400]="isInvalid('regPlate')"
      />
      <div class="h-5 mt-1">
        @if (isInvalid('regPlate')) {
        <p class="text-red-400 text-sm">車號為必填</p>
        }
      </div>
    </div>

    <!-- 編號 -->
    <label
      class="text-[#97e0fb] font-semibold [text-align-last:justify] self-start pt-1"
    >
      編號
    </label>
    <div>
      <input
        type="text"
        formControlName="driverNo"
        class="w-full h-10 bg-[#193652] rounded px-2 py-1 border border-[#193652] focus:outline-none focus:border-[#2bb0ff]"
        [class.border-red-400]="isInvalid('driverNo')"
      />
      <div class="h-5 mt-1">
        @if (isInvalid('driverNo')) {
        <p class="text-red-400 text-sm">編號為必填</p>
        }
      </div>
    </div>

    <!-- 姓名 -->
    <label
      class="text-[#97e0fb] font-semibold [text-align-last:justify] self-start pt-1"
    >
      姓名
    </label>
    <div>
      <input
        type="text"
        formControlName="driverName"
        class="w-full h-10 bg-[#193652] rounded px-2 py-1 border border-[#193652] focus:outline-none focus:border-[#2bb0ff]"
        [class.border-red-400]="isInvalid('driverName')"
      />
      <div class="h-5 mt-1">
        @if (isInvalid('driverName')) {
        <p class="text-red-400 text-sm">姓名為必填</p>
        }
      </div>
    </div>

    <!-- 聯絡電話 -->
    <label
      class="text-[#97e0fb] font-semibold [text-align-last:justify] self-start pt-1"
    >
      聯絡電話
    </label>
    <div>
      <input
        type="text"
        formControlName="driverPhone"
        class="w-full h-10 bg-[#193652] rounded px-2 py-1 border border-[#193652] focus:outline-none focus:border-[#2bb0ff]"
        [class.border-red-400]="isInvalid('driverPhone')"
      />
      <div class="h-5 mt-1">
        @if (isInvalid('driverPhone')) {
        <p class="text-red-400 text-sm">聯絡電話為必填</p>
        }
      </div>
    </div>
  </form>

  <!-- 送出按鈕 -->
  <div class="flex-1">
    <button
      class="text-sm sm:text-2xl px-12 py-2 h-fit bg-[#f5a830] rounded-sm cursor-pointer hover:bg-[#f2a020]"
      (click)="onSubmit()"
    >
      確定送出
    </button>
  </div>

  <!-- 其他按鈕 -->
  <!-- 隱藏的檔案選擇器 -->
  <input
    type="file"
    #fileInput
    class="hidden"
    accept=".xlsx,.xls"
    (change)="onFileSelected($event)"
  />

  <!-- 上傳按鈕 -->
  <button
    class="text-sm sm:text-2xl px-12 py-3 bg-[#764e9b] rounded-sm cursor-pointer hover:bg-[#6a3c95]"
    (click)="fileInput.click()"
  >
    上傳排班計程車資料
  </button>

  <span class="text-lg sm:text-2xl font-semibold">異常事件通知</span>

  <div class="flex gap-4">
    <button
      class="px-6 py-1 text-md sm:text-xl font-semibold rounded border border-[#999] bg-[#231716] text-[#4d4c4e] cursor-pointer"
    >
      未註冊車牌
    </button>

    <button
      class="px-6 py-1 text-md sm:text-xl font-semibold rounded border border-[#999] bg-[#231716] text-[#4d4c4e] cursor-pointer"
    >
      違規車牌
    </button>
  </div>
</div>
