<div class="flex flex-col items-center gap-4 sm:gap-6 w-full h-full">
  <div
    class="grid grid-cols-[64px_1fr] sm:grid-cols-[100px_1fr] items-center gap-x-2 sm:gap-x-4 gap-y-4 sm:gap-y-6 text-md sm:text-2xl w-full"
  >
    <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
      >車號</label
    >
    <input
      type="text"
      class="w-full bg-[#193652] rounded px-2 py-1"
      formControlName="flightInfo"
    />

    <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
      >編號</label
    >
    <input
      type="text"
      class="w-full bg-[#193652] rounded px-2 py-1"
      formControlName="flightInfo"
    />

    <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
      >人名</label
    >
    <input
      type="text"
      class="w-full bg-[#193652] rounded px-2 py-1"
      formControlName="flightInfo"
    />

    <label class="text-[#97e0fb] font-semibold [text-align-last:justify]"
      >聯絡電話</label
    >
    <input
      type="text"
      class="w-full bg-[#193652] rounded px-2 py-1"
      formControlName="flightInfo"
    />
  </div>

  <div class="flex-1">
    <button
      class="text-sm sm:text-2xl px-12 py-2 h-fit bg-[#f5a830] rounded-sm cursor-pointer hover:bg-[#f2a020]"
      (click)="onSubmit()"
    >
      確定送出
    </button>
  </div>

  <button
    class="text-sm sm:text-2xl px-12 py-3 bg-[#764e9b] rounded-sm cursor-pointer hover:bg-[#f2a020]"
  >
    上傳排班計程車資料
  </button>

  <span class="text-lg sm:text-2xl font-semibold">異常事件通知</span>

  <div class="flex gap-4">
    <button
      class="px-6 py-1 text-md sm:text-xl font-semibold rounded border border-[#999] bg-[#231716] text-[#4d4c4e] cursor-pointer"
    >
      未註冊車牌
    </button>

    <button
      class="px-6 py-1 text-md sm:text-xl font-semibold rounded border border-[#999] bg-[#231716] text-[#4d4c4e] cursor-pointer"
    >
      違規車牌
    </button>
  </div>
</div>
