<div class="flex justify-between items-center">
  <h3 class="text-xl">異常航班資訊</h3>
  <div class="flex gap-2 text-sm">
    <button
      class="min-w-20 px-2 border border-blue-500 rounded-sm cursor-pointer"
      [ngClass]="toggleIndex == 0 ? 'bg-[#2ed3b6]' : 'bg-[#0c0330]'"
      (click)="onIndexChange(0)"
    >
      出境
    </button>
    <button
      class="min-w-20 px-2 border border-blue-500 rounded-sm cursor-pointer"
      [ngClass]="toggleIndex == 1 ? 'bg-[#2ed3b6]' : 'bg-[#0c0330]'"
      (click)="onIndexChange(1)"
    >
      入境
    </button>
    <button
      class="min-w-20 px-2 border border-blue-500 rounded-sm cursor-pointer"
      [ngClass]="toggleIndex == 2 ? 'bg-[#2ed3b6]' : 'bg-[#0c0330]'"
      (click)="onIndexChange(2)"
    >
      全部
    </button>
  </div>
  <h3 class="text-xl">前3名航點</h3>
</div>

<div class="flex flex-1 gap-4 w-full h-full overflow-hidden">
  <div class="flex-1 min-w-0 flex flex-col overflow-hidden">
    <div
      class="grid grid-cols-5 bg-[#535353] text-sm font-semibold text-center"
    >
      <div class="p-0.5">航班編號</div>
      <div class="p-0.5">目的地</div>
      <div class="p-0.5">表定時間</div>
      <div class="p-0.5">影響人數</div>
      <div class="p-0.5">異常狀況</div>
    </div>

    <div class="overflow-y-auto flex-1">
      @for (item of displayData.info; let i = $index; track
      item) {
      <div
        class="grid grid-cols-5 h-6 items-center text-sm text-center"
        [ngClass]="i % 2 === 1 ? 'bg-[#535353]' : 'bg-transparent'"
      >
        <div class="p-0.5">{{ item.flightNumber }}</div>
        <div class="p-0.5">{{ item.destination }}</div>
        <div class="p-0.5">{{ item.scheduledTime }}</div>
        <div class="p-0.5">{{ item.affectedPeople | number }}</div>
        <div class="p-0.5">{{ item.status }}</div>
      </div>
      }
    </div>
  </div>

  <div
    class="flex flex-col flex-1 justify-between ml-4 border border-[#888] rounded-lg"
  >
    <div class="flex flex-col flex-1 py-1 relative">
      @for (i of [0,1,2]; track i) {
      <div class="flex-1 relative flex items-center ml-6 mr-4 px-1 min-h-0">
        <div
          class="absolute -left-6 -translate-x-1/2 flex items-center justify-center w-7 h-7 bg-[#00c4ce] text-black text-lg font-bold rounded-full"
        >
          {{ i + 1 }}
        </div>

        <div class="grid grid-cols-[40px_60px_1fr_1.5fr] w-full h-full py-0.5 items-stretch">
          <div class="text-lg leading-none flex items-center">
            {{ displayData.top3[i]?.city }}
            {{ displayData.top3[i]?.airport }}
          </div>

          <div
            class="flex flex-col h-full text-center text-[10px] justify-between ml-4 text-[#aaa]"
          >
            <div class="flex-1 flex items-center justify-center pl-4">預報</div>
            <div
              class="flex-1 flex items-center justify-center bg-[#535353] pl-4 rounded-l-sm"
            >
              實際
            </div>
          </div>

          <div class="flex flex-col h-full text-center justify-between">
            <div class="flex-1 flex gap-1 items-end justify-center">
              <span class="text-xl leading-none">{{
                displayData.top3[i]?.forecast?.flightCount
              }}</span>
              <span class="text-[10px]">架次</span>
            </div>
            <div
              class="flex-1 flex gap-1 items-end justify-center bg-[#535353]"
            >
              <span class="text-xl leading-none">{{
                displayData.top3[i]?.actual?.flightCount
              }}</span>
              <span class="text-[10px]">架次</span>
            </div>
          </div>

          <div class="flex flex-col h-full text-center justify-between">
            <div class="flex-1 flex items-end justify-center">
              <span class="text-xl leading-none pr-4">{{
                displayData.top3[i]?.forecast?.passengerCount
                  | number
              }}</span>
              <span class="text-[10px]">人數</span>
            </div>
            <div
              class="flex-1 flex items-end justify-center bg-[#535353] rounded-r-sm"
            >
              <span class="text-xl leading-none pr-4">{{
                displayData.top3[i]?.actual?.passengerCount
                  | number
              }}</span>
              <span class="text-[10px]">人數</span>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
