/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

html,body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

@media (min-width: 641px) {
html,body {
    min-width: 1670px;
  }
}

@theme {
  --color-primary: #193652;
}

.light {
  @apply bg-blue-100;

  .card {
    @apply bg-white rounded-lg;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply leading-none;
    }
  }
}

.dark {
  @apply bg-[#191919] [&>*]:text-white;

  .card {
    @apply bg-[#252525] rounded-lg;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply leading-none;
    }
  }
}
