<!-- <div class="header" [ngClass]="theme">
  <h1 class="text-[50px] font-bold relative z-10">Header Title</h1>
</div> -->

<div
  class="header flex items-center justify-between p-4 max-h-18"
  [ngClass]="theme"
>
  <div
    class="flex flex-row-reverse sm:flex-row items-center justify-between gap-2 relative w-full sm:w-fit z-10"
  >
    @if(!isProd) {
    <!-- 按鈕 -->
    <button
      #menuTrigger="cdkOverlayOrigin"
      cdkOverlayOrigin
      class="px-4 py-2 bg-gray-700 text-white rounded"
      (click)="toggleMenu()"
    >
      Menu
    </button>

    <!-- 下拉 Overlay -->
    <ng-template
      cdk-connected-overlay
      [cdkConnectedOverlayOrigin]="menuTrigger"
      [cdkConnectedOverlayOpen]="menuOpen"
      cdkConnectedOverlayHasBackdrop
      (overlayOutsideClick)="closeMenu()"
      (detach)="closeMenu()"
    >
      <div class="bg-white shadow-xl rounded p-1 w-72">
        <ng-container *ngFor="let item of menuRoutes">
          <button
            class="w-full text-left p-2 hover:bg-gray-100"
            (click)="navigate(item.path)"
          >
            {{ item.title }}
          </button>
        </ng-container>
      </div>
    </ng-template>
    }

    <h1 class="text-2xl sm:!text-[50px] font-bold leading-none">{{ title }}</h1>
  </div>

  <div class="hidden sm:block w-60 z-20">
    <ng-container [ngTemplateOutlet]="dropdown"></ng-container>
  </div>
</div>

<div class="flex w-full bg-[#191919] px-4 pt-2 pb-4 sm:hidden">
  <div class="self-end ml-auto w-[calc(50vw-1.25rem)] sm:w-50 z-20">
    <ng-container [ngTemplateOutlet]="dropdown"></ng-container>
  </div>
</div>

<ng-template #dropdown>
  @if (isTrafficAnalysisRoute()) {
  <app-dropdown
    class=""
    [options]="flightTypeList"
    [value]="'ALL'"
    [showIcon]="true"
    (selectionChange)="onFlightTypeChange($event)"
  ></app-dropdown>
  } @else {
  <app-dropdown
    class=""
    [options]="airportList"
    [value]="airportDefault"
    [showIcon]="true"
    (selectionChange)="onAirportChange($event)"
  ></app-dropdown>
  }
</ng-template>
